extends layout
include ./coupon_list_mixin

block content

  h1 Account Info
  hr
  
  if (user.email)
    p #[strong Email:] #{user.email}
    hr
  
  h3 Submitted coupons
  
  +couponList(coupon_list)
  
  div(style='margin-top:30px')
  
  h3 Favorite restaurants
  
  each val in restaurants
    p
    a(href=val.url) #[strong #{val.name}]
  
  div(style='margin-top:30px')
  hr
  p
  form(method='POST' action='/changepwd')
    div.form-group
      label(for='newPassword') New password:
      input#newPassword.form-control(type='password' name='newPassword')  
    div.form-group
      label(for='newPassword2') Confirm new password:
      input#newPassword2.form-control(type='password' name='newPassword2')

    button.btn.btn-primary(type='submit') Confirm
  
  p
  p #[strong #{msg}]
    
  p
  a(href='/logout') Logout
  p