extends layout

block content
  h1= title

  form(method='POST' action='')
    div.form-group
      label(for='name') Name:
      input#name.form-control(type='text', placeholder='Restaurant name' name='name' required='true' value=(undefined===restaurant ? '' : restaurant.name))
    div.form-group
      label(for='mobile') Does this restaurant have a mobile app?:
      input#code.form-control(type='checkbox' checked=false name='mobile' required='true' value=(undefined===restaurant ? false : restaurant.mobile))
    
    button.btn.btn-primary(type='submit') Submit

  if errors 
    ul
      for error in errors
        li!= error.msg