mixin comments(comment_list, user)
  each comment in comment_list
    hr
    p #{comment.date_added_formatted}
    p #[strong User:] #{comment.username}
    p #{comment.message}
    p #[Strong Votes:] #{comment.upvotes()}
    if (user)
      button(onclick='vote(#comment.id)') Vote helpful
  else
    p There are no comments at this time.
  
  hr
  
  if !(user)
    p Please 
      a(href='/login') login
      |  to vote
    
  if (user)
    form(method='POST' action='/comment/' + coupon.id)
      input(type='text', placeholder='Enter a new comment' required='true'  name='new_comment')
      button.btn.btn-success(type='submit') Submit
    
  script.
    var vote = (function(commentID) {
        $.ajax({
          type:'GET',
          url: '/comment/vote',
          data: { comment_id: commentID },
          success: function(data){
            $('#vote-status').html(data);
          },
          error: function(jqXHR, textStatus, err){
            alert('Status ' + textStatus + 'Err ' + err)
          },
        });
    });

  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')